* {margin: 0; padding: 0}

ul {list-style: none;}
img {border: none;}

div#main {width: 1024px; text-align: left;}

div.user_page {}

div.user_page div#user_menu, div.user_page div#video_menu, div# {float: left; width: 200px;}
div.user_page div.user_page_body {float: left; width: 500px;}
div.user_page div.user_page_help {float: right; padding-top: 50px; width: 200px;}

div.page div#menu {float: left; width: 200px;}
div.page div#channel_menu{float: left; width: 200px;}
div.page div.page_body {float: left; width: 500px;}
div.page div.page_help {float: right; padding-top: 50px; width: 200px;}

div.video_page {}

div.video_page div#video_menu {float: left; width: 200px;}
div.video_page div.video_page_body {float: left; width: 500px;}

div.album_page {}

div.album_page div#album_menu {float: left; width: 200px;}
div.album_page div.album_page_body {float: left; width: 500px;}

div.channel_page {}

div.channel_page div#channel_menu {float: left; width: 200px;}
div.channel_page div.channel_page_body {float: left; width: 500px;}

div#content_list {float: left; width: 200px;}
div#content {float: left; width: 500px;}

/*iframe*/
#upload_frame {border:0px; height:40px; width:400px; display:none;}

.red {color: red}
.green {color: green}
.blue {color: blue}
